<div class="employee-content">
    <div class="employee-heading">
        <h1>Employees</h1>
        <div class="list-functionality">
            <input type="text" placeholder="Search"/>
            <div class="filterbox">
                <mat-icon class="icon">filter_list</mat-icon>
                <button>dept</button>
            </div>
            <div class="sortbox">
                <mat-icon class="icon">sort</mat-icon>
                <div>
                    <button>Sort by Name</button>
                    <button>Date of joining</button>
                </div>
            </div>
            <button class="addnewemp">Add new Employee</button>
        </div>
    </div>
    <ed-employees-list-wrapper class="employee-list-wrapper"></ed-employees-list-wrapper>
</div>