<div class="employee-content">
    <div class="employee-heading">
        <h1>Employees</h1>
        <div class="list-functionality">
            <input [(ngModel)]="searchText" type="text" placeholder="Search" (input)="onSearch()"/>
            <div class="filterbox">
                <mat-icon class="icon filter-icon">filter_list</mat-icon>
                <ul class="filter-list">
                    <li><button (click)="filter('marketing')">
                        Marketing
                    </button></li>
                    <li><button (click)="filter('HR')">
                        HR
                    </button></li>
                    <li><button (click)="filter('information technology')">
                        Information Technology
                    </button></li>
                </ul>
            </div>
            <div class="sortbox">
                <mat-icon class="icon">sort</mat-icon>
                <ul class="sort-list">
                    <li><button (click)="sort('name')">
                        By Name
                    </button></li>
                    <li><button (click)="sort('doj-o')">
                        By DOJ (oldest)
                    </button></li>
                    <li><button (click)="sort('doj-l')">
                        By DOJ (latest)
                    </button></li>
                </ul>
            </div>
            <button class="addnewemp" (click)="openFormModal()">Add new Employee</button>
        </div>
    </div>
    <ed-employees-list-wrapper 
        [employees]="employees"
        class="employee-list-wrapper"
        (editModalSetter)="editModalSetter($event)"
        (employeeSetter)="employeeSetter($event)"
        (deleteModalOpen)="deleteModalOpen($event)"
    ></ed-employees-list-wrapper>
    @if (isFormModalVisible()){
        <div class="modal-wrapper" (click)="closeFormModal()">
            <ed-employee-form-wrapper 
                class="employee-form-wrapper" 
                (click)="$event.stopPropagation()" 
                (modalSetter)="modalSetter($event)"
                [formData]="formData()"
                [isEditForm]="isEditForm()"
            ></ed-employee-form-wrapper>
        </div>
    }
    @if(isDeleteModalVisible()){
        <div 
            class="delete-modal-backdrop"
            (click)="closeDeleteModal()"
        >
            <ed-delete-modal 
                class="delete-modal"
                [removedData]="removedData()"
                (deleteModalSetter)="deleteModalSetter($event)"
                (click)="$event.stopPropagation()"
            ></ed-delete-modal>
        </div>
    }
</div>