.delete-modal-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delete-modal-content p{
    color: grey;
    font-size: 16px;
}
.delete-modal-content h2{
    color: #0f8071;
    margin-top: 0px;
    margin-bottom: 30px;
}
.delete-modal-content div{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.delete-modal-content div button{
    width: 45%;
    border: none;
    border-radius: 6px;
    padding: 7px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.remove-btn{
    background-color: red;
}
.cancel-btn{
    background-color: grey;
}