<div class="topnavbar">
    <button
        routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="gotohome()"
    >
        Dashboard
        <mat-icon class="icon">dashboard</mat-icon>
    </button>
    <button
        routerLink="/dashboard/employees" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="gotoemployees()"
    >
        Employees
        <mat-icon class="icon">group</mat-icon>
    </button>
</div>