<div class="dash-content">
    <div class="dash-analytics-section">
        <div class="card-content">
            <div class="card-heading">
                <mat-icon class="icon">group</mat-icon>
                <h3>Total Employees</h3>
            </div>
            <div class="card-body">
                <h1>{{employeesCount()}}</h1>
                <mat-icon style="color: rgb(252, 82, 82);">query_stats</mat-icon>
            </div>
        </div>
        <div class="card-content">
            <div class="card-heading">
                <mat-icon class="icon">group</mat-icon>
                <h3>Active Employees</h3>
            </div>
            <div class="card-body">
                <h1>{{activeEmployeesCount()}}</h1>
                <mat-icon style="color: rgb(252, 82, 82);">query_stats</mat-icon>
            </div>
        </div>
        <div class="card-content">
            <div class="card-heading">
                <mat-icon class="icon">group</mat-icon>
                <h3>Inactive Employees</h3>
            </div>
            <div class="card-body">
                <h1>{{inactiveEmployeesCount()}}</h1>
                <mat-icon style="color: rgb(252, 82, 82);">query_stats</mat-icon>
            </div>
        </div>
        <div class="card-content">
            <div class="card-heading">
                <mat-icon class="icon">group</mat-icon>
                <h3>Total Departments</h3>
            </div>
            <div class="card-body">
                <h1>{{departmentCount()}}</h1>
                <mat-icon style="color: rgb(252, 82, 82);">query_stats</mat-icon>
            </div>
        </div>
    </div>
</div>